<!--div>
    <button routerLink="/Principal">Principal</button>
    <button (click)="Juego('Adivina')">Adivina</button>
    <button (click)="Juego('Agilidad')">Agilidad</button>
    <button (click)="Juego('AdivinaMasListado')">Adivina+listado</button>
    <button (click)="Juego('AgilidadaMasListado')">Agilidad+listado</button>
    <button routerLink="/error">Error</button>

</div-->

<!--nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/Principal">Inicio</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/Juegos">Juegos</a></li>
        <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
        <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
        <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
        <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
    </div>
  </nav-->
<div class="nav-bar">
  <div class="flex-h flex-h-center">
    <div class="flex-50">
      <div class="flex-h flex-h-center flex-100">
        <div class="flex-10 title-detail">
          <a class="navbar-brand title-detail" routerLink="/Principal">Inicio</a>
        </div>
        <div class="flex-90 container-row">
          <ul class="nav navbar-nav">
            <li class="title-detail">
              <a target="_blank" class="title-detail" (click)="Juego('Juegos')">Menú de Juegos</a>
            </li>
            <li class="title-detail">
              <a data-toggle="tooltip" title="Hooray!" target="_blank"
                 class="title-detail" (click)="Juego('Adivina')">
                Adivina</a>
            </li>
            <li class="title-detail">
              <a (click)="Juego('Agilidad')" target="_blank"
                 class="title-detail">Agilidad</a>
            </li>
            <li class="title-detail">
              <a (click)="Juego('AdivinaMasListado')" target="_blank"
                 class="title-detail">Adivina+listado</a>
            </li>
            <li class="title-detail">
              <a (click)="Juego('AgilidadaMasListado')"  target="_blank"
                 class="title-detail">Agilidad+listado</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-50 container-row">
      <div class="flex-h flex-h-center flex-100 expand-right">
        <ul class="nav navbar-nav">
          <li class="title-detail">
            <a href="#" target="_blank" class="title-detail">
              <span class="glyphicon glyphicon-user"></span> Mis Datos
            </a>
          </li>
          <li class="title-detail">
            <a href="/Login"  target="_blank" class="title-detail">
              <span class="glyphicon glyphicon-log-out"></span> Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

