
$title-color: #c1c1c1;

$text-color: #e7e5e5;

$detail-color-one: #efb40c;
$detail-color-two: #e2961d;

$background-color-one: #111111;
$background-color-two: #212121;
$background-color-three: #292929;
$background-color-four: #313131;
$background-color-five: #393939;
$background-color-six: #414141;
$background-color-seven: #494949;


