@import "../../../styles/_variablesStyles.scss";

.panel
{
  height: 3em;
  position: relative;
}


.hero-text {
  text-align: center;
  transform: translate(-50%, -50%);
  color: #3E06B0;
}

.hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text a:hover {
  background-color: #555;
  color: white;
}
